/* navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.541);

}

.navbar li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.devfolio {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 29px;
    font-weight: 600;
}

.nav-link {
    position: relative;
    overflow: hidden;
}

.nav-link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    right: 100%;
    visibility: hidden;
    background-color: white;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.dropdown-toggle::after {
    border: none;
}

.nav-link:hover::after {
    visibility: visible;
    right: 20;
}


/* header */


header {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.layer {
    background-color: rgba(0, 0, 0, 0.541);
}

.header-content h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    font-weight: 600;
}

#home p {
    position: relative;
}

#home p::after {
    content: "|";
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation-name: typing;
    animation-name: typing;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.header-content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .header-content h1 {
        font-size: 45px;
    }

    .header-content p {
        font-size: 16px;
    }
}

/* About */

.progress-bar {
    text-align: start;
}

.about-me {
    font-size: 2rem;
    position: relative;
}

.about-me::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0078ff;
    height: 3px;
    width: 20%;
}

/* Services */

.services-title h3 {
    font-size: 48px;
}

.services-title p {
    position: relative;
}

.services-title p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0078ff;
    height: 5px;
    width: 3%;
}

.service-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid #0078ff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.service-box {
    -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.service-icon i {
    font-size: 40px;
    color: black;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.service-box:hover i {
    color: white;
}

.service-box:hover .service-icon {
    background-color: #0078ff;
    border-color: #cde1f8;
}

.service-content h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

@media screen and (max-width:992px) {
    .about-me {
        text-align: center;
    }

    .about-me::after {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
}

@media screen and (max-width:1200px) {
    #about {
        .morgan {
            margin-bottom: 50px;
        }
    }
}

/* Experience */


#experience {
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 6rem 0;
    position: relative;
}

.experience-layer {
    background-color: #0078ff;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
}

.experience-item i {
    font-size: 32px;
    color: white;
}

.experience-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 10px #cde1f8;
    padding: 30px;
}

@media screen and (max-width: 992px) {
    .experience-item {
        margin-bottom: 20px;
    }
}

/* Work */

.work-item {
    -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.item-img {
    overflow: hidden;
}

.item-img img {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.work-item:hover .item-img img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.work-icon i {
    font-size: 20px;
    border-radius: 50%;
    border: solid 3px #0078ff;
    color: #0078ff;

}

.item-content span {
    font-size: 13px;
}

.item-content h2 {
    font-size: 19px;
    font-weight: 500;
}

.web-design {
    color: #0078ff;
}

.work-title h3 {
    font-size: 48px;
}

.work-title p {
    position: relative;
}

.work-title p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0078ff;
    height: 5px;
    width: 3%;
}

@media screen and (max-width: 992px) {
    #work .row>div {
        margin-bottom: 3rem;
    }
}

/* Testimonial */

#testimonial {
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 8rem 0;
}

.testimonial-layer {
    background-color: #0078ff;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
}

.client-img {
    width: 150px;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators {

    position: static;
}

.test-par {
    padding: 0 13rem;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.client-name {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

@media screen and (max-width: 992px) {
    .test-par {
        padding: 0;
    }
}

/* Blog */

.last-card {
    -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.min i {
    font-size: 16px;
}

.blog-title {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.travel {
    border: #0078ff solid 1px;
    background-color: #0078ff;
    font-size: 11px;
    font-weight: 500;
    color: white;
    margin: 8px 16px;
    padding: 8px 16px;
    border-radius: 4px;
}

.card-title {
    margin-top: 16px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.card-title:hover {
    color: #0078ff;
}

.card-body {
    padding: 16px;
}

.card-text {
    margin: 0px 0px 16px;
    color: #4e4e4e;
}

.mo {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.mo:hover {
    color: #0078ff;
}

.min i {
    color: #4e4e4e;
}

.min span {
    color: #4e4e4e;
}

.blogg-title p {
    position: relative;
}

.blogg-title p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0078ff;
    height: 5px;
    width: 2.5%;
}

.blogg-title h3 {
    font-size: 48px;
}

@media screen and (max-width: 992px) {
    .cardd {
        margin-bottom: 20px;
    }

}

/* Contact */

#contact {
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 48px;
    padding-top: 4rem;
    -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.contact-layer {
    background-color: #0078ff;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
}

#contact .container {

    padding: 48px;
    margin-top: 4rem;
}

.form-title h5 {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

.form-title h5::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0078ff;
    height: 3px;
    width: 33%;
}

.form input {
    padding: 10px 15px;
}

.contact-title h5 {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

.contact-title h5::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0078ff;
    height: 3px;
    width: 33%;
}

.contact-list ul li {
    list-style: none;
}

.contact-list ul li span {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.contact-list ul li i {
    font-size: 16px;
    color: #0078ff;
    margin-right: 10px;
}

.contact-list ul {
    padding: 0;
}

.last-btn {
    padding: 10px 24px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.last-btn:hover {
    background-color: #3393ff;
    -webkit-box-shadow: 0 0 0 4px #cde1f8;
    box-shadow: 0 0 0 4px #cde1f8;
}

.contact-icons i {
    font-size: 1.2rem;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.contact-icons div {
    background-color: transparent;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #0078ff;
    margin-right: 15px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.contact-icons div:hover {
    background-color: #0078ff;
    border-color: #cde1f8;
}

.contact-icons div:hover i {
    color: white;
}

.contact-icons {
    padding: 24px 0px;
}

.box-shadow {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {}

/* Footer */

footer {
    background-color: #0062D3;
    padding: 24px 0px;
}

/* Back to up button */


.back i {
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0078ff;
    width: 40px;
    height: 40px;
    padding: 11px;
    padding-left: 12px;
    border-radius: 50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 9999999!important;

}

.back i:hover {
    background-color: #3393ff;
}

/* End of CSS */
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}


